{% if page.comments %}
<div id='discourse-comments'></div>

<script type="text/javascript">
 DiscourseEmbed = { discourseUrl: '{{ site.discourse }}',
                    discourseEmbedUrl: '{{ site.url }}{{ page.url }}index.html' };

 (function() {
   var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
   d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://Discourse.com/?ref_noscript">comments powered by Discourse.</a></noscript>
{% endif %}
