@charset "utf-8";
/* TOC – Color Variables

- Basics
- Corporate Identity Colorpalette
- Foundation Color Variables
- Grey Scale
- Topbar-Navigation
- Footer
- Code

*/



/* Basics
------------------------------------------------------------------- */

$text-color:            #111;
$body-font-color:       $text-color;
$body-bg:                       #E3E3E3;



/* Corporate Identity Colorpalette
   https://color.adobe.com/de/Flat-Design-Colors-v2-color-theme-4341903/
   Lucas Blogulus color palette:
   greens:
   http://paletton.com/#uid=73h0u0k2ljc6hnI3vhb50fr6wdx
   browns:
   http://paletton.com/#uid=10u0u0k6xdz2VFh5ZmDbM5Ule3T
------------------------------------------------------------------- */

$ci-1: #2F261E;  // TODO: list actual colors here (ie:
$ci-2: #565D5D;  // turquiose
$ci-3: #99958E;  // blue etc...)
$ci-4: #99958E;
$ci-5: #5C7372;
$ci-6: #BDB098;



/* Foundation Color Variables
------------------------------------------------------------------- */

$primary-color: $ci-1;
$secondary-color: $ci-6;
$alert-color: $ci-5;
$success-color: $ci-6;
$warning-color: $ci-4;
$info-color: $ci-1;



/* Grey Scale
------------------------------------------------------------------- */

$grey-1: #5C7372;
$grey-2: #565D5D;
$grey-3: #4A5353;
$grey-4: #3F4B4A;
$grey-5: #344141;
$grey-6: #5F6266;
$grey-7: #686F7E;
$grey-8: #2F251E;
$grey-9: #474A52;
$grey-10: #3B3F48;
$grey-11: #A1C1BF;
$grey-12: #BDB098;
$grey-13: #89847A;
$grey-14: #7B7468;
$grey-15: #6C6456;
$grey-16: #A1C1BF;




/* Topbar-Navigation
------------------------------------------------------------------- */

/* $topbar-bg-color: $body-bg; */
$topbar-bg-color: #5C7372;
$topbar-bg: $topbar-bg-color;


$topbar-dropdown-toggle-color: $ci-1;

$topbar-link-color: #000;
$topbar-link-color-hover: #000;
$topbar-link-color-active: #000;
$topbar-link-color-active-hover: #000;

$topbar-dropdown-label-color: $ci-6;
$topbar-dropdown-link-bg-hover: $ci-6;

$topbar-link-bg-active: $ci-2; // Active Navigation Link
$topbar-link-bg-hover: $ci-6;
$topbar-link-bg-active-hover: $ci-6;


$topbar-dropdown-bg: $ci-2; // Background Mobile Navigation
$topbar-dropdown-link-color: #000;
$topbar-dropdown-link-bg: $ci-2;

$topbar-menu-link-color-toggled: $ci-1;
$topbar-menu-icon-color-toggled: $ci-1;
$topbar-menu-link-color: #000;
$topbar-menu-icon-color: #000;
$topbar-menu-link-color-toggled: $ci-6;
$topbar-menu-icon-color-toggled: $ci-6;



/* Footer
------------------------------------------------------------------- */

$footer-bg: $grey-8;
$footer-color: #fff;
$footer-link-color: $ci-6;


$subfooter-bg: $grey-13;
$subfooter-color: $grey-8;
$subfooter-link-color: $grey-8;



/* Code
------------------------------------------------------------------- */

/* $code-background-color: scale-color($secondary-color, $lightness: 70%); */
$code-background-color: #ffffff;

$highlight-background: #ffffff;
$highlight-comment: #999988;
$highlight-error: #a61717;
$highlight-comment-special: #999999;
$highlight-deleted: #000000;
$highlight-error-2: #aa0000;
$highlight-literal-string: #d14;
$highlight-literal-number: #009999;
$highlight-name-attribut: #008080;
$highlight-error-background: #e3d2d2;
$highlight-generic-deleted: #ffdddd;
$highlight-generic-deleted-specific: #ffaaaa;
$highlight-generic-inserted: #ddffdd;
$highlight-generic-inserted-specific: #aaffaa;
$highlight-generic-output: #888888;
$highlight-generic-prompt: #555555;
$highlight-subheading: #aaaaaa;
$highlight-keyword-type: #445588;
$highlight-name-builtin: #0086B3;
$highlight-name-class: #445588;
$highlight-name-entity: #800080;
$highlight-name-exception: #990000;
$highlight-name-function: #990000;
$highlight-name-namespace: #555555;
$highlight-name-tag: #000080;
$highlight-text-whitespace: #bbbbbb;
$highlight-literal-string-regex: #009926;
$highlight-literal-string-symbol: #990073;
