---
layout: default
---
<!-- from here: https://github.com/shigeya/jekyll-category-archive-plugin/blob/master/_layouts/category_archive.html -->
<div class="category-archive">
  <div>
    <span class="title">Category archive for {{ page.category }}</span>
  </div>
  <div>
    <ul>
{{ content }}
    </ul>
  </div>
</div>
