---
layout: page
comments: false
show_meta: false
breadcrumb: true
sidebar: right
---
<div id="blog-index" class="row">
<h2 class="entry-title">Posts tagged as '{{ page.title }}'</h2>
    <div class="small-12 columns t30">
        <ul>
            {% for post in page.posts %}
                <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> ({{ post.date | date_to_string }})</li>
            {% endfor %}
        </ul>
    </div><!-- small-12columns t30 -->
</div><!-- blog-index  -->
